#grid-container
{
	height: 960px;
	width: 960px;
	border-radius: 1px;
	border: solid black;
	margin: 20px auto;
	padding: 0px;
}

#button-container
{
	text-align: center;
  padding: 0;
}


.gridBox{
	
	border:none;
	margin: 0;
	padding: 0;
	float: left;
}


input[name=clearGrid]
{
	border: 1px solid #4387fd;
	border-radius: 2px;
	background-color: #4387fd;
	line-height: 28px;
	font-weight: bold;
	color: #fff;
}

input[name=clearGrid]:hover
{
	box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}